# python files and dirs
*.pyc
*.pyo
*.egg
*.egg-info
dist
build
eggs
parts

# odml files
*.odml

# installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# temp files
*~
*.log

# idea / pycharm files
.idea
*.iml
