[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Open Metadata Editor
Comment=Editor for odML documents
Comment[de]=Editor für odML Dokumente
TryExec=odml-gui
Exec=odml-gui
Type=Application
Terminal=False
Categories=Gtk;Science;Education;
Icon=odml-logo
