Source: python-odml
Priority: extra
Maintainer: G-Node Debian Team <debian-team@g-node.org>
Uploaders: Jan Grewe <jan.grewe@g-node.org>, Michael Hanke <mih@debian.org>
Build-Depends: debhelper (>= 7.0.50~), python-lxml, python-gtk2
Standards-Version: 3.9.3
Section: science
Homepage: http://github.com/G-Node/python-odml
Vcs-Browser: http://github.com/G-Node/python-odml
Vcs-Git: git://github.com/G-Node/python-odml.git

Package: python-odml
Section: python
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-lxml
Suggests: python-odml-gui
X-Python-Version: ${python:Versions}
Description: Python API without editor for data annotation using odML.
 The Open Metadata Markup Language is a simple hierarchical format
 consisting of extended key-value pairs that can be grouped in sections.
 The odml format is designed for data annotation with any kind of metadata. 

Package: python-odml-gui
Section: python
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-odml, python-gtk2
X-Python-Version: ${python:Versions}
Description: Python GUI for data annotation with odml.
 The odml format is a simple hierarchical format basically consisting
 of extended key-value pairs that can be grouped in sections. The odml
 format is designed for data annotation with any kind of metadata. 
 These are stored in xml files. 
 .
 Standardization can be achieved by applying odml-terminologies. The
 editor offers tools to validate against these terminologies.

